.myTitle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex-flow: column-reverse;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}